section(class="gallery" id="gallery")
    .container.container--gallery
        .gallery__title
            h2.gallery__title-text.title Галерея
        .gallery__pictures
            ul.gallery__pictures-list
                - var width = "380"
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="/assets/img/service/transmission.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="/assets/img/service/transmission.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="/assets/img/service/transmission.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="/assets/img/service/transmission.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="/assets/img/service/transmission.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="/assets/img/service/transmission.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="/assets/img/service/transmission.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="/assets/img/service/transmission.jpg" width=width height="300")
                li.gallery__pictures-item
                    img.gallery__pictures-pic(src="/assets/img/service/transmission.jpg" width=width height="300")
        .gallery__works
            ul.gallery__works-list
                li.gallery__works-item
                li.gallery__works-item
                li.gallery__works-item
                li.gallery__works-item